<section class="flex items-center justify-center h-screen bg-cover bg-center" style="background-image: url('../../assets/images/abstract.jpg')">
    <div class="bg-slate-200 rounded-lg p-6 max-w-4xl w-full mx-4">
        <!-- Main Title -->
        <h1 class="text-xl font-bold mb-4 text-gray-900">FASTag Recharge</h1>

        <div class="flex flex-col md:flex-row justify-between">
            <!-- Left Section -->
            <div class="bg-white bg-opacity-70 p-4 rounded-lg w-full md:w-1/3 mb-4 md:mb-0 md:mr-4 border border-gray-300">
                <h2 class="text-lg font-semibold mb-2 text-gray-900">FASTag Recharge</h2>
                <div class="flex items-center mb-4">
                    <img src="../../assets/images/Bharti_Airtel_Logo.svg" alt="Airtel Payments Bank Logo" class="w-12 h-12 mr-4">
                    <div>
                        <p class="font-medium text-gray-800">Airtel Payments Bank NETC FASTag</p>
                        <a href="/amount" class="text-blue-500 hover:underline">Change Bank</a>
                    </div>
                </div>
            </div>

            <!-- Right Section -->
            <div class="bg-white bg-opacity-70 p-6 rounded-lg w-full md:w-2/3 border border-gray-300">
                <h2 class="text-lg font-semibold mb-4 text-gray-900">Select or Enter Amount</h2>
                <!-- Amount Input -->
                <div class="mb-4">
                    <label for="amount" class="sr-only">Enter Amount</label>
                    <div class="flex items-center text-gray-900 mb-2">
                        <span class="mr-2 text-xl">₹</span>
                        <input type="text" id="amount" [(ngModel)]="amount" class="w-full bg-transparent border-b-2 border-gray-500 text-gray-900 text-xl outline-none" maxlength="6" (input)="validateAmount()" /> </div>
                    <p class="text-gray-600 text-sm">Enter amount between ₹10 and ₹25000</p>
                </div>

                <!-- Quick Amount Buttons -->
                <div class="flex justify-between mb-4">
                    <button (click)="setAmount('100')" class="bg-transparent border border-gray-500 text-gray-900 py-2 px-6 rounded hover:bg-gray-200">₹ 100</button>
                    <button (click)="setAmount('500')" class="bg-transparent border border-gray-500 text-gray-900 py-2 px-6 rounded hover:bg-gray-200">₹ 500</button>
                    <button (click)="setAmount('1000')" class="bg-transparent border border-gray-500 text-gray-900 py-2 px-6 rounded hover:bg-gray-200">₹ 1000</button>
                    <button (click)="setAmount('2000')" class="bg-transparent border border-gray-500 text-gray-900 py-2 px-6 rounded hover:bg-gray-200">₹ 2000</button>
                </div>

                <!-- Pay Now Button -->
                <button class="py-2 px-8 rounded-lg font-semibold focus:outline-none" [ngClass]="{'bg-blue-500 text-white hover:bg-blue-600': isButtonEnabled, 'bg-gray-400 text-gray-200': !isButtonEnabled}" [disabled]="!isButtonEnabled" (click)="nextPage()">Pay Now</button>                </div>
        </div>
    </div>

</section>