<section class="flex items-center justify-center h-screen bg-cover bg-center">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
            <h1 class="title-font font-medium text-3xl text-gray-900">Link Your UPI ID</h1>
            <p class="leading-relaxed mt-4">Connect your mobile number to your UPI ID to generate a QR code. This will streamline your payment processes and make transactions easier.</p>
        </div>
        <div *ngIf="!showQR" class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Generate QR Code</h2>
            <form #mobileForm="ngForm">

                <div class="relative mb-4">
                    <label for="mobile-number" class="leading-7 text-sm text-gray-600">Mobile Number</label>

                    <input type="text" id="mobile-number" name="mobile-number" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                        maxlength="10" pattern="\d{10}" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);" />
                </div>
                <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" (click)="showQRCode()">Generate QR Code</button>
            </form>

            <p class="text-xs text-gray-500 mt-3">Easily link your UPI ID with your mobile number to create a QR code for quick payments.</p>
        </div>

        <div *ngIf="showQR" class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <img src="../../assets/images/npstx.com qr.png" (click)="nextPage()" alt="">

        </div>

    </div>

</section>