<section class="flex items-center justify-center h-screen bg-cover bg-center" style="background-image: url('../../assets/images/abstract.jpg')">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
            <h1 class="title-font font-medium text-3xl text-slate-100">Link Your UPI ID</h1>
            <p class="leading-relaxed mt-4  text-slate-200 ">Enter your mobile number and scan the QR code with your mobile UPI app to link your UPI ID with MPay, enabling you to make payments seamlessly through your car.</p>
        </div>
        <div *ngIf="!showQR" class="lg:w-2/6 md:w-1/2 bg-slate-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Generate QR Code</h2>
            <form #mobileForm="ngForm">

                <div class="relative mb-4">
                    <label for="mobile-number" class="leading-7 text-sm text-gray-600">Mobile Number</label>

                    <input type="text" id="mobile-number" name="mobile-number" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                        maxlength="10" pattern="\d{10}" [(ngModel)]="mobileNumber" (input)="validateInput()" />
                </div>
                <button class="text-white border-0 py-2 px-8 focus:outline-none rounded text-lg" [ngClass]="{'bg-indigo-500 hover:bg-indigo-600': isButtonEnabled, 'bg-gray-400': !isButtonEnabled}" [disabled]="!isButtonEnabled" (click)="showQRCode()">
                Generate QR Code
            </button>
            </form>

            <p class="text-xs text-gray-700 mt-3">Easily link your UPI ID with your mobile number to create a QR code for quick payments.</p>
        </div>

        <div *ngIf="showQR" class="lg:w-2/6 md:w-1/2 bg-gray-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <img src="../../assets/images/npstx.com qr.png" (click)="nextPage()" alt="">

        </div>

    </div>

</section>