<section class="flex items-center justify-center min-h-screen bg-cover bg-center relative" style="background-image: url('../../assets/images/abstract.jpg')">
    <!-- Optional overlay for better text visibility -->
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="container px-5 py-24 mx-auto relative z-10">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-slate-100 mb-4">
                Choose an Option to Complete Your In-Car Payment
            </h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-slate-300">
                Proceed with your in-car payment by picking one of the options below for a smooth and convenient transaction.
            </p>
            <div class="flex mt-6 justify-center">
                <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
            </div>
        </div>
        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                      <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                    </svg>
                </div>
                <div class="flex-grow">
                    <h2 class="text-slate-100 text-lg title-font font-medium mb-3">
                        Fast Tag
                    </h2>
                    <p class="leading-relaxed text-base text-slate-300">
                        Fast-tag enables seamless toll payments as you drive through highways, Use InCar payments to recharge your FasTag wallet seamlessly.
                    </p>
                </div>
            </div>
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="10"></circle>
                        <circle cx="12" cy="12" r="4"></circle>
                        <line x1="12" y1="2" x2="12" y2="22"></line>
                        <line x1="2" y1="12" x2="22" y2="12"></line>
                      </svg>

                </div>
                <div class="flex-grow">
                    <h2 class="text-slate-100 text-lg title-font font-medium mb-3">
                        Drive Through
                    </h2>
                    <p class="leading-relaxed text-base text-slate-300">
                        Experience quick and contactless payments at drive-thrus with InCar Payments, making your order process faster and safer.
                    </p>
                </div>
            </div>
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
                <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                        <path d="M12 21a9 9 0 0 1-9-9C3 7.53 12 3 12 3s9 4.53 9 9a9 9 0 0 1-9 9z"></path>
                      </svg>
                </div>
                <div class="flex-grow">
                    <h2 class="text-slate-100 text-lg title-font font-medium mb-3">
                        Fuel
                    </h2>
                    <p class="leading-relaxed text-base text-slate-300">
                        Fuel up effortlessly using InCar Payments at the pump, ensuring a quick, contactless, and secure payment experience without opening a Car door/window.
                    </p>
                </div>
            </div>
        </div>
        <button (click)="nextPage()" class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
            Link UPI to Get Started
        </button>
    </div>
</section>